.aboutsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #01558a;
    /* border-bottom: 2px solid #28a0f0; */
    width: 100%;
    height: 80vh;
    /* border: 2px solid rgb(255, 0, 0); */
}

.AccordionMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 200px;
}

.MausoleumRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.MausoleumRight img {
    display: flex;
    width: 60%;
}

.TitleAccordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.AboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.AboutTitle {
    padding: 40px 0px;
}

.AboutTitle {
    color: #ffffff;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
}

.WrapOpen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: linear-gradient(to right, #01558a, #0277c0); */
  padding: 0px 20px;
  /* cursor: pointer; */
  cursor: pointer;
  font-size: 11px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  color: var(--span);
  border-top: solid 3px #ffffff;
}

.WrapClosed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: linear-gradient(to right, var(--bg-main), var(--bg-secondary)); */
  background: var(--text-focus);
  padding: 0px 20px;
  /* cursor: pointer; */
  cursor: pointer;
  /* border-top: solid 2px var(--text-focus); */
  font-size: 9px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  color: #ffffff;
}

.WrapClosed:hover {
  /* background: linear-gradient(to right, var(--bg-secondary), var(--bg-main)); */
  transition: 0.3s ease-in-out;
  color: var(--span);
}

.ArrowOpen {
  transition: 0.3s ease-in-out;
  transform: rotate(45deg);
  height: 30px;
}

.ArrowClosed {
  transition: 0.3s ease-in-out;
  height: 30px;
}

.DropOpen {
  /* background: linear-gradient(to right, var(--bg-secondary), var(--bg-main)); */
  width: 100%;
  padding: 5px 20px;
  max-height: 500px;
  transition: 0.5s ease-in-out;
  font-size: 20px;
  /* cursor: pointer; */
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 10px;
  border-bottom: solid 3px #ffffff;
}

.DropClosed {
  /* background: rgb(26, 26, 26); */
  width: 100%;
  padding: 5px 20px;
  max-height: 0px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  /* font-size: 0px; */
}

/*==============Media Queries===============*/

@media screen and (max-width: 1000px) {
  .AboutContainer {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
.aboutsection {
  flex-direction: column;
  }
  .MausoleumRight img {
    width: 100%;
}
}

@media screen and (max-width: 600px) {
  .Wrap {
    font-size: 8px;
  }

  .AboutTitle h1 {
    font-size: 40px;
  }
}