/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

  /*Colors*/
  --back-g: #17232A;
  --back-gp: #FFF9EA;
  --back-g2: #40667c;
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;


    /*Colors*/
    --span: #28a0f0;
    --blueP: #0069ab;

}